body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center; /* keskittää otsikon */
}

h1 {
    color: #2E8B57;
   text-align: center; /* keskittää otsikon */
}

h2 {
    color: #333333;
     text-align: center; /* keskittää otsikon */
}

form {
   background-color: #bfecf9;
    padding: 40px; /* Lisää tyhjää sisään */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 30px auto; /* Lisää tilaa ylös ja alas + keskittää */
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
input[type="button"] {
    background-color: #2E8B57;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #246b45;
}

p {
    font-size: 16px;
}
